		<div class="container-fluid content-breather" id="footer">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col-md-4" id="map-background">
						<h3 class="text-underline">Find us</h3>
							<address>
		  						<strong>Mist, Inc.</strong><br>
		  						700 Vidall Towers, Suite 620<br>
		  						London, LD25 7YT<br>
		  						<abbr title="Phone">P:</abbr> (+44) 0134 345876
							</address>
							<p>
								<i class="icon " data-icon="&#xe038;"></i>&nbsp;&nbsp;mail@email.com</br>
								<i class="icon " data-icon="&#xe029;"></i>&nbsp;&nbsp;Skype
							</p>
		 			</div><!-- End of column one -->
		 			<div class="col-md-4">
		 				<h3 class="text-underline">We're hiring</h3>
		 					<div class="row">
		 						<div class="col-md-1">
		 							<i class="icon icon-lg branding" data-icon="&#xe050;"></i>
								</div>
		 						<div class="col-md-11">
		 							<span class="heavy">Senior designer</span>
		 							<p>Reporting to the director of design, this demanding and rewarding role... 
		 								<span class="heavy"><a href="jobs_board.html">Read more</a></span>
		 							</p>
		 						</div>
		 					</div><!-- End of sub row -->
		 					<div class="row">
		 						<div class="col-md-1">
		 							<i class="icon icon-lg branding" data-icon="&#xe05d;"></i>
								</div>
		 						<div class="col-md-11">
		 							<span class="heavy">Technical support</span>
		 							<p>Reporting to the technical supervisor, 
		 								this demanding and rewarding role... 
		 								<span class="heavy"><a href="jobs_board.html">Read more</a></span>
		 							</p>
		 						</div>
		 					</div><!-- End of sub row -->
					</div><!-- End of column two -->
					<div class="col-md-4">
						<h3 class="text-underline">Around the web</h3>
							<div class="icon-wrap">
								<a href="#"><i class="social-icons-lg fa fa-facebook"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-twitter"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-google-plus"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-youtube"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-git"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-pinterest"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-linkedin"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-spotify"></i></a>
								<a href="#"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
								<a href="#" class="invisible"><i class="social-icons-lg fa fa-skype"></i></a>
							</div><!-- End of icon wrap -->
					</div><!-- End of column three -->
				</div><!-- End of row -->
		 	</div><!-- End of container -->
		 </div><!-- End of fluid container --> 
		 <div class="container-fluid content-breather copyright">
		 	<div class="container">
		 		<div class="row" id="copyright">
					<div class="col-md-12 text-center">
						<img src="/images/footer_logo.png" alt="footer logo">
							<small>
								Copyright &copy; 2014 | Acadaslate.
							</small>
					</div><!-- End of column one -->
		 		</div><!-- End of row -->
		 		
		 		<a href="#" class="go-top"><i class="fa fa-chevron-up fa-2x"></i></a>
		 		
		 		</div><!-- End of container -->
		 	</div><!-- End of fluid container --> 