<div class="container-fluid content-breather-small" id="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<i class="fa fa-rss-square fa-2x"></i><h4>AcadaMatrix Blog</h4>
			</div><!-- End of column one -->
			<div class="col-md-6 col-sm-6 text-right">
			</div><!-- End of column two -->
		</div><!-- End of row -->	
	</div><!-- End of container -->
</div><!-- End of fluid container -->