<!-- Start of pagination -->
			<div class="row">
				<div class="col-md-2"></div>
					<div class="col-md-10">
						<ul class="pagination centered">
							  <li {{#unless data.posts.previous}}class="disabled"{{/unless}}><a href="{{paginationPreviousUrl data.posts.previous}}"><i class="fa fa-chevron-left"></i></a></li>
			
							 	<li>{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}</li>
							  <li {{#unless data.posts.next}}class="disabled"{{/unless}}><a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}"><i class="fa fa-chevron-right"></i></a></li>
						</ul>
				</div><!-- End of column -->
			</div><!-- End of row -->
				
		</div><!-- End of column, end of Blog body -->